<!DOCTYPE html>
<html>
<head>
    <title>Remote Cockpit</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.websocket.js"></script>
</head>
<body class="body">
    <div class="container">
        <div class="row devices">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="device">
                    <h3>Высота (м)</h3>
                    <div id="altRad">--</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="device">
                    <h3>Скорость (км/ч)</h3>
                    <div id="speedTrue">--</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="device">
                    <h3>Курс (град)</h3>
                    <div id="heading">--</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="device">
                    <h3>Координаты</h3>
                    <div>
                        <div><span id="lat">--</span><sup>o</sup><i>N</i></div>
                        <div><span id="long">--</span><sup>o</sup><i>E</i></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="device disabled">
                    <h3>Приборная скорость</h3>
                    <div id="speedInstrumental">--</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="device disabled">
                    <h3>Вертикальная скорость</h3>
                    <div id="vspeed">--</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-9 col-md-3 time-counter">Время сервера: <span id="time">0</span></div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            var ws = $.websocket("ws://" + window.location.host + "/socket", {
                events: {
                    update: function(e) {
                        if(e == null) return;

                        var data = e.data;
                        $("#time").html(data.time);
                        $("#speedTrue").html(msSpeedToKms(parseFloat(data.speedTrue)).toFixed(1));
                        $("#speedInstrumental").html(msSpeedToKms(parseFloat(data.speedInstrumental)).toFixed());
                        $("#vspeed").html(data.vspeed);
                        $("#altRad").html(parseFloat(data.alrRad).toFixed(1));
                        $("#heading").html(parseFloat(RadToDeg(data.navigation.heading)).toFixed(2));
                        $("#lat").html(parseFloat(data.navigation.lat).toFixed(2));
                        $("#long").html(parseFloat(data.navigation.long).toFixed(2));

                        ws.send(0, "ok");
                    }
                }
            });
            window.onbeforeunload = function() {
                ws.onclose = function () {}; // disable onclose handler first
                ws.close();
                ws = null;
            };

            //$(window).unload(function(){ ws.close(); ws = null });
//            $( window ).unload(function() {
//                console.log("Closing connection");
//                ws.terminate();
//                console.log(typeof ws);
//            });

            function RadToDeg(rad) {
                return rad * 180 / pi();
            }

            function msSpeedToKms(ms) {
                return ms * 3.6;
            }

            function pi() {
                return 3.14159265;
            }
        });
    </script>
</body>
</html>